<script type="text/ng-template" id="categoryModal.html">
    <div class="modal-header">
        <h3 class="modal-title">{{vm.ModalHeader}}</h3>
    </div>
    
    <div class="modal-body" data-ng-keyup="vm.CheckKey($event)">
        <form>
            <div class="form-group">
                <label for="input_edit_category_name">Category Name</label>
                <input type="text" class="form-control"
                       id="input_edit_category_name"
                       placeholder="Category Name"
                       focus-if="vm.Rendered"
                       focus-delay="50"
                       data-ng-model="vm.entity.Name">
            </div>
            <div class="form-group">
                <label for="input_edit_category_description">Category Description</label>
                <textarea class="form-control"
                          id="input_edit_category_description"
                          placeholder="Category Description"
                          data-ng-model="vm.entity.Description"></textarea>
            </div>
        </form>
    </div>
    
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="vm.ok()">
            <i class="fa fa-check"> </i>
            OK
        </button>
        <button class="btn btn-warning" type="button" ng-click="vm.cancel()">
            <i class="fa fa-times"> </i>
            Cancel
        </button>
    </div>
</script>
