<h2>
    Pricing
</h2>
<hr />
<form>
    <div class="form-group">
        <label for="product_name">Price Regular </label>
        <input data-ng-model="vm.product.PriceRegular" type="text" ng-currency class="form-control" id="product_price_regular" placeholder="Regular Price">
    </div>

    <div class="form-group">
        <label for="product_name">Price Current </label>
        <input data-ng-model="vm.product.PriceCurrent" type="text" ng-currency class="form-control" id="product_price_current" placeholder="Current Price">
    </div>
</form>